* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calculator {
    width: 400px;
    padding: 0.5em;
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}
#calculator h3 {
    font-size: 0.8em;
    font-weight: 300;
    color: #666;
    padding: 2px;
}

#operations {
    text-align: right;
}
#past-operation {
    color: #777;
    padding: 0.2em;
    overflow-wrap:break-word ;
    min-height: 1.6em;
}
#present-operation {
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word;
}

#button button {
    border-radius: 50px;
    border: 1px solid transparent;
    height: 4em;
    background-color: #dbdbdb;
    cursor: pointer;
}
#button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}
#button .number {
    background-color: #f3f3f3;
}
#button button:hover {
    background-color: #bababa;
    border-color: #999;
}
#equal-btn {
    grid-column: span 2;
    background-color: #75a5cb;
}
#equal-btn:hover {
    background-color: #3a91b8;
}

footer {
    color: white;
    background-color: #3a91b8;
    position: absolute;
    top: 100%;
    transform: translate(0%, -100%);
    width: 100%;
    text-align: center;
}